/* Feel free to change these colors */
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--mainColor60: rgba(11, 223, 36);
	--mainColor30: #0d6efd;
	--mainColor10: rgba(65, 65, 65);
	--background: rgba(38, 38, 38);
}

body {
	background-color: var(--background);
	opacity: 1;
}

.custom-nav {
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
	font-size: 25px;
	float: right;
}

.custom-brand {
	color: var(--mainColor60);
	font-family: "Nova Square";
	font-size: 40px;
	margin-left: 50px;
}

.custom-list {
	max-width: 300px;
	max-height: 474px;
	font-family: "Source Code Pro";
}

.custom-link {
	color: #fff;
	font-family: "Nova Square";
	margin-left: 50px;
}

.custom-link:hover {
	color: var(--mainColor60);
}

.home-header {
	font-size: 20px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

.custom-item {
	background: var(--mainColor10);
}

.custom-item:hover {
	cursor: pointer;
	color: white;
	background: var(--mainColor30);
}

.bar-container {
	padding-bottom: 40px;
	padding-top: 40px;
	margin: 70px;
	font-family: "Source Code Pro";
}

.about-container{
	padding-bottom: 40px;
	padding-top: 110px;
	font-family: "Source Code Pro";

}

.bar-header {
	font-family: "Nova Square";
	padding-bottom: 20px;
	font-size: 45px;
}

.favourites-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
}


.favourites-desc {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
	margin: 70px;
	font-family: 'Source Code Pro';
}

.favourites-header {
	display: flex;
	justify-content: center;
	font-family: 'Nova Square';
	padding-bottom: 20px;
	font-size: 45px;
}

/* NAV HAMBURGER CUSTOM COLOR */

.navbar-toggler {
	border: var(--mainColor10) solid 1px;

}


/* ------------------------------------------------ ALCOHOL TYPE */
.alcoholTypeLi button {
	height: 100%;
	width: 100%;
	border: 0;
	color: #fff;
	background: none;
}

.alcoholTypeLi.active button {
	color: rgb(255, 255, 255);
	font-weight: bold;
}

/* ------------------------------------------------ COCKTAIL NAME */
.cocktailNameLi button {
	height: 100%;
	width: 100%;
	border: 0;
	color: #fff;
	background: none;
}

.cocktailNameLi.active button {
	color: rgb(255, 255, 255);
	font-weight: bold;
}

#cocktailNameDiv {
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	background-image: url('../images/cocktailNamesUlBG.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;

}

/* SCROLLBAR STYLING */

	/* MAIN PAGE SCROLLBAR */
::-webkit-scrollbar {
	width: 0.5em;
	
}
::-webkit-scrollbar-track {
	background:var(--background);
	
}
::-webkit-scrollbar-thumb {
	background:var(--mainColor60);
	
}

	/* SECOND COLUMN SCROLLBAR */
#cocktailNameDiv::-webkit-scrollbar {
	width: 0.25em;
	
}
#cocktailNameDiv::-webkit-scrollbar-track {
	background:var(--background);
	
}
#cocktailNameDiv::-webkit-scrollbar-thumb {
	background:var(--mainColor60);
	border-top-right-radius: 100vw;
	border-bottom-right-radius: 100vw;
	
}

/* IF THE ABOVE SCROLLBAR STYLES DO NOT WORK, DEFAULT TO THIS: */
@supports (scrollbar-color: var(--mainColor60) var(--background)){
	* {
		scrollbar-color: var(--mainColor60) var(--background);
		scrollbar-width: thin;
	}
}


#cocktailNameDivSpinner {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: transparent;

}



/* ------------------------------------------------  */

.custom-list img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 280px;
}

.recipe-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:70px;
	font-family: "Source Code Pro";
	color: #fff;
	position: relative;
}
#ingredientsListButtons {
	text-align: right;
}
#ingredientsListButtons img {
 	width: 30px;
 	margin-right: 20px;
}
#ingredientsListButtons div {
	display: inline;
}
.navbar-color {
	background-color: var(--background);
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.recipe-header h4 {
	display: inline-block;
	font-family: "Nova Square";
	font-size: 35px;
}

.ingredients-container {
	color: #fff;
	font-family: "Source Code Pro";
	font-weight: 300;
}

#ingredientsDiv tr:nth-child(odd) {
	background: var(--mainColor10);
}

#ingredientsTable img {
	height: 20px;
}

#ingredientsTable .itemName {
	text-align: left;
}

#h3DrinkName {
	color: yellow;
	font-size: 35px;
	font-family: "Nova Square";
}

#h3DrinkName p {
	font-size: 20px;
}

#imageWrapper {
	position: relative;
	background-image: url('../images/cocktailNamesUlBG.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#imageDiv {
	border-radius: 5px;
	min-width: 284px;
	min-height: 328px;
}

#recipeImageSpinner {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: transparent;
}

#recipeContainerSpinner {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: transparent;
}


.reloadBtn {
	width: 75px;
	padding: 5px;
	font-family: 'Nova Square';
	color: black;
	background-color: var(--mainColor60);
	border-radius: 5px;
	border: none;
	position: absolute;
	bottom: 100px;
	left: 110px;
	display: none;
}

.reloadBtn:hover {
	-webkit-transform: scale(1.05);
	transition: transform 0.3s ease-out;
	transform: scale(1.05);
	cursor: pointer;
}

.navbar {
	--bs-navbar-active-color: rgba(11, 223, 36);
	--bs-navbar-brand-color: rgba(11, 223, 36);
	--bs-navbar-brand-hover-color: rgba(11, 223, 36);
}

/* FAVOURITES BUTTON */
/* SOURCE: https://codepen.io/mattbhenley/pen/gQbWgd */
.heart {
	width: 100px;
	height: 100px;
	background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
	background-position: 0 0;
	cursor: pointer;
	transition: background-position 1s steps(28);
	transition-duration: 0s;
	display: none;
}

.heart.is-active {
	transition-duration: 1s;
	background-position: -2800px 0;
}
.noClick {
	pointer-events: none;
}

/* ----------------------------------------------------------------------- Cart Page and Related */
/* TROLLEY BUTTON */
/* SOURCE: https://codepen.io/mattbhenley/pen/gQbWgd */
.trolley {
	width: 100px;
	height: 100px;
	background: url("../images/trolley.png") no-repeat;
	background-position: 0 0;
	cursor: pointer;
	transition: background-position 1s steps(28);
	transition-duration: 0s;
	display: none;
}

.trolley.is-active {
	transition-duration: 1s;
	background-position: -2800px 0;
}

.subTotalPrice,
.subTotalLabel {
	padding: 10px 10px;
}

.overallTotalLabel,
.overallTotalPrice {
	padding: 5px 10px;
	font-weight: bold;
}

.totalTr td {
	background: var(--background);
}

.removeItem {
	color:rgb(122, 122, 122);
	padding-right: 5px;
	cursor:grab;
}
.supplierTd {
	padding: 5px 10px;
	font-weight: bold;	
}
.supplierTr td {
	background: rgb(23, 23, 23);
	text-align: left;
}
#ingredientsListButtons {
	margin-right: 30px;
	text-align: right;
}


/* ----------------------------------------------------------------------- MEDIA QUERIES */
@media screen and (max-width: 991px) {

	.custom-link {
		color: #fff;
		font-family: "Nova Square";
		margin-left: 0;
	}

	.custom-nav {
		display: flex;
		justify-content: center;
		font-size: 25px;
		float: none;
		padding-right: 0;

	}

}

@media screen and (max-width: 760px) {

	.reloadBtn {
		left: 40%;
		right: 50%;
		margin: auto;
		width: 20%
	}

	.ingredientSupplierLogo {
		display: none;
	}

	.ingredientLongName {
		display: none;
	}
}



@media print {    
    .noPrint {
        display: none !important;
    }
}