/* Feel free to change these colors */
*{
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --mainColor60: rgba(0, 20, 66, 1); 
    --mainColor30: rgba(7, 84, 83, 1); 
    --mainColor10: rgba(122, 122, 122, 1); 

}


.custom-nav{
    display:flex;
    justify-content: flex-end;
    padding-right: 40px;
    font-size: 25px;
    float:right;
    
}

.custom-brand{
    font-size: 35px;
    padding-left:40px;
    
}

.custom-list{
    max-width: 400px;
    padding-left: 40px;
    padding-top: 40px;

}

.list-container{
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    max-width: 100%;
}

.custom-item:hover{
    cursor: pointer;
    background: lightcyan;
}

/* .bar-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 673px;

} */

.bar-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bar-header{
    display:flex;
    justify-content: center;
}

.bar-desc{
    display: flex;
    justify-content: center;
}


.alcoholTypeLi button {
    height: 100%;
    width: 100%;
    border: 0;
    color:black;
    background: none;

}
.alcoholTypeLi.active button {
    color:rgb(255, 255, 255);
    font-weight: bold;
}
.cocktailNameLi button {
    height: 100%;
    width: 100%;
    border: 0;
    color:black;
    background: none;
}
.cocktailNameLi.active button{
    color:rgb(255, 255, 255);
    font-weight: bold;
}
#cocktailNameDiv {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    position: relative;
}

#cocktailNameDiv::-webkit-scrollbar{
    display:none;

}
#cocktailNameDivSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(214, 5, 5, 0.8);
}

#recipeDiv {
    position: relative;
}


#cocktailNameDivSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255,.8);
}


#recipeDivSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(214, 5, 5, 0.8);
}
/* hide the scroll ::backdrop */



#recipeDiv {
    position: relative;
}

#recipeDivSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255,.8);
}