
/* Feel free to change these colors */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');



*{
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --mainColor60: rgba(11, 223, 36); 
    --mainColor30: #0d6efd; 
    --mainColor10: rgba(65, 65, 65); 
    --background: rgba(38, 38, 38);
}

body{
    background-color: var(--background);
    opacity: 1;
}


.custom-nav{
    display:flex;
    justify-content: flex-end;
    padding-right: 40px;
    font-size: 25px;
    float:right;
}

.custom-brand{
    color:var(--mainColor60);
    font-family: 'Nova Square';
    font-size: 40px;
    margin-left:50px;
}

.custom-list{
    background-color: red;
    max-width: 300px;
    max-height: 474px;
    /* margin:20px; */
    font-family: 'Source Code Pro';
}


.custom-link{
    color:#FFF;
    font-family: 'Nova Square';
    margin-left: 50px;
}

.custom-link:hover{
    color:var(--mainColor60);
}

.home-header{
    font-size: 20px;
}

.main-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.custom-item {
    background: var(--mainColor10);
}

.custom-item:hover{
    cursor: pointer;
    color:white;
    background: var(--mainColor30);
}

.bar-container {
    padding-bottom: 40px;
    padding-top: 40px;
    margin:70px;
    font-family: 'Source Code Pro';
}

.bar-header {
    font-family: 'Nova Square';
    font-size:45px;
}

.favourites-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
}

.favourites-header{
    display: flex;
    justify-content: center;
}

.favourites-desc{
    display: flex;
    justify-content: center;
}
/* ------------------------------------------------ ALCOHOL TYPE */
.alcoholTypeLi button {
    height: 100%;
    width: 100%;
    border: 0;
    color:#FFF;
    background: none;
}
.alcoholTypeLi.active button {
    color:rgb(255, 255, 255);
    font-weight: bold;
}

/* ------------------------------------------------ COCKTAIL NAME */
.cocktailNameLi button {
    height: 100%;
    width: 100%;
    border: 0;
    color:#FFF;
    background: none;
}
.cocktailNameLi.active button{
    color:rgb(255, 255, 255);
    font-weight: bold;
}
#cocktailNameDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    position: relative;
}

#cocktailNameDivSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}
#cocktailNameDiv::-webkit-scrollbar{
    display:none;
}
/* ------------------------------------------------  */
.custom-list img {
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin:auto; */
    max-height: 280px;
}


#cocktailNameDiv::-webkit-scrollbar{
    display:none;
}

.recipe-description{
    display:flex;
    justify-content: center;
}




.recipe-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    font-family:'Source Code Pro';
    color:#FFF;
}

.navbar-color {
    background-color: var(--background);
}

.button-container{
    display:flex;
    justify-content: center;
}

.recipe-header h4{
    display:inline-block;
    font-family: 'Nova Square';
    font-size:35px;

}

.ingredients-container{
    color:#FFF;
    font-family: 'Source Code Pro';
    font-weight: 300;
}
#ingredientsDiv tr:nth-child(odd){
    background: var(--mainColor10);
}

#h3DrinkName{
    color:yellow;
    font-size: 35px;
    font-family: 'Nova Square';
    padding-top: 20px;
    padding-bottom: 20px;
}

#h3DrinkName p{
    font-size: 20px;
}

#imageWrapper {
    position: relative;
}

#recipeImageSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}
#recipeContainerSpinner {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

#favouriteDrinkButton {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    transition: transform 0.3s ease-out;
}
#favouriteDrinkButton:hover {
    transform: scale(1.5);
    color:rgb(226, 43, 165);
    transition: transform 0.3s ease-out;
}

.reloadBtn{
    width: 75px;
    padding:5px;
    font-family: 'Nova Square';
    color:black;
    background-color:var(--mainColor60);
    border-radius: 5px;
    border: none;
    position:fixed;
    top:50%;
    left:0;
}

.reloadBtnBtm{
    top:0;
    left:0

}

.reloadBtn:hover {
    -webkit-transform: scale(1.05);
    transition: transform 0.3s ease-out;
    transform: scale(1.05);
    cursor:pointer;  
}


/* @media screen and (max-width: 980px) {
    .main-container {
        align-items: center;
        flex-direction: column;
    }

    .custom-list{
        width:238.73px;
    }

    #cocktailNameDiv{
        padding-top: 40px;
        margin:0;
    }

    .custom-list img{
        padding-top: 40px;
        margin:0;
    }

} */